body{
    font-family: AppleMyungjo;
    background-color: rgb(38,38,38);
    margin: 0;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(38,38,38);
    z-index: 2;
}
header img {
    display: flex;
    justify-content: center;
    align-items: center;
}
header div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .socials{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 225px;
    height: 80px;
}

li {
    display: flex;
    justify-content: space-evenly;
    color: rgb(154,138,120);

}

.socials ul{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.socials ul li{
    display: flex;
    justify-content: space-evenly;
}
nav ul{
    display: flex;
    gap: 95px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
}

.socials img {
    width: 30px;
    height: 30px;
}

.socials li:hover {
    transform: scale(1.3);
}

nav li:hover {
    transform: scale(1.3);
}
/* billede før charts */
#largePicture {
    max-width: 100%;
    max-height: 100%;
    width: 2000px;
    height: 1000px;
    margin: 0 auto;
    filter: brightness(90%);
}

#containerForLargePictureAndText h1 {
    position: absolute; /* Positions the link absolutely within the container */
    top: 50%; /* Centers vertically */
    left: 25%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Adjusts for true centering */
    font-size: 4rem; /* Adjust as needed */
    text-decoration: none; /* Removes underline */
    padding: 10px 20px; /* Optional: Adds space around text */
    border-radius: 5px; /* Optional: Rounds the corners */
    z-index: 1; /* Ensures the link appears above the image */
    color: rgb(38,38,38);
}


/*Chart sektion med knapper */

.twoContainer{
    display: flex;
    justify-content: center;
    height: 750px;

}

.left-container{
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38,38,38);
}
.right-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
}

.grey-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    background-color: white;
    height: 750px;
}
.right-container button{
    background-color: white;
    width: 200px;
    height: 50px;
    justify-content: center;
}

.grey-container button{
    background-color: white;
    width: 200px;
    height: 50px;
    justify-content: center;
}

/* Selve listen */
.filter-list {
    margin: 0;
    margin-left: 100px;


}

/* Hvert punkt i listen */
.filter-list li {
    display: grid;
    grid-template-columns: auto 1fr;  /* Første kolonne: checkbox, anden: tekst */
    align-items: flex-start;
    padding: 8px;

}






#datamatiker1 {
    background-color: rgb(154,138,120);
}

#animationScroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;

}

#animationScroll.appear {
    opacity: 1;
    transform: translateY(0);
}


#animationScroll{
    color: #FB6376;
    font-size: 5rem;
}


#animationScroll1 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
}

#animationScroll1.appear {
    opacity: 1;
    transform: translateY(0);
}

#animationScroll1{
    color: #FB6376;
    font-size: 5rem;
}
