body{
    font-family: AppleMyungjo;
    background-color: black;
}

header{
    display: flex;
    justify-content: space-around;
}
header img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .socials{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 200px;
    height: 200px;
}

li {
    display: flex;
    justify-content: space-evenly;
    color: white;

}

.socials ul{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.socials ul li{
    display: flex;
    justify-content: space-evenly;
}
nav ul{
    display: flex;
    gap: 95px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
}

.socials img {
    width: 30px;
    height: 30px;
}

.socials li:hover {
    transform: scale(1.3);
}

nav li:hover {
    transform: scale(1.3);
}

/*Chart sektion med knapper */

#interaktiv{

    display: flex;
    justify-content: center;

}

#chartsektion{
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#aktive-knapper{
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
}
#aktive-knapper button{
    background-color: white;
    border-color: red;
    width: 500px;
    height: 100px;
    justify-content: center;
}

