body{
    font-family: "Crimson Text", serif;
    background-color: #CDC5B4;
    margin: 0;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: #CDC5B4;
    z-index: 2;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 225px;
    height: 35px;
}
header div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .socials{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


li {
    display: flex;
    justify-content: space-evenly;
    color:black;
}
li a{
    display: flex;
    justify-content: space-evenly;
    color: black;
    text-decoration: none;
}

 header li {
     display: flex;
     justify-content: space-evenly;
     color: white;
 }
 header li a{
     display: flex;
     justify-content: space-evenly;
     color: white;
     text-decoration: none;
 }


.socials ul{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.socials ul li{
    display: flex;
    justify-content: space-evenly;
}
nav ul{
    display: flex;
    gap: 95px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
}

.socials img {
    width: 30px;
    height: 30px;
}

.socials li:hover {
    transform: scale(1.3);
}

nav li:hover {
    transform: scale(1.3);
}

/*_______________________________________________________________________________________*/
/*                                       forside billede                                 */
/*_______________________________________________________________________________________*/
#containerForLargePictureAndText{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 0px;
}
#pictureFront{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #FB6376;
}

/*_______________________________________________________________________________________*/
/*                                       Intro tekst                                     */
/*_______________________________________________________________________________________*/

.intro h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #FB6376;
    padding-top: 100px;
}

.intro-fylde p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 130px;
    padding-left: 130px;
    color: #68534D;
    font-size: 18px;
    padding-bottom: 100px;
}
.pictureText h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #FB6376;
}
/*Intro billeder*/
.intro-billeder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative;
}

/* Første billede - venstre, fuld højde */
.billede-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    position: relative;
}

.billede-1:hover {
    transform: scale(1.03);
}
.overlayBilleder {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
 }

#ekLogo {
    height: 20rem;
    width: 20rem;
}

.billede-1:hover .overlayBilleder {
    opacity: 1;
}

/* Andet billede - top midten */
.billede-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
}

.billede-2:hover {
    transform: scale(1.03);
}

.billede-2:hover .overlayBilleder {
    opacity: 1;
}

/* Tredje billede - bund midten */
.billede-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
}

.billede-3:hover {
    transform: scale(1.03);
}

.billede-3:hover .overlayBilleder {
    opacity: 1;
}

#dtuLogo {
    height: 140px;
    width: 100px;
}


/* Fjerde billede - højre, fuld højde */
.billede-4 {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
    position: relative;
}

.billede-4:hover {
    transform: scale(1.03);
}

.billede-4:hover .overlayBilleder {
    opacity: 1;
}

#kuLogo {
    height: 4rem;
}


.billede-5 {
    grid-column: 1 / 3; /* Spænder over 2 kolonner */
    grid-row: 3 / 3;
    position: relative;
}

.billede-5:hover {
    transform: scale(1.03);
}

.billede-5:hover .overlayBilleder {
    opacity: 1;
}

#aalborgLogoLogo {
    height: 15rem;
}



.billede-6 {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    position: relative;
}

.billede-6:hover {
    transform: scale(1.03);
}

.billede-6:hover .overlayBilleder {
    opacity: 1;
}

#aarhusLogo {
    height: 2rem;
}



/* Sørg for at billederne fylder containeren */
.intro-billeder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}


.pie-chart-header h1 {
    display: flex;
    color: #FB6376;
    justify-content: center;
    margin-top: 120px;
    font-size: 50px;
}
.pie-chart-header h2 {
    display: flex;
    color: #68534D;
    justify-content: center;
    font-size: 30px;
}
/*Chart sektion med knapper */

.pie-chart {
    display: flex;
    justify-content: center;
    height: 700px;
    margin-left: 100px;
    margin-top: 100px;
}

/*_______________________________________________________________________________________*/
/*                              Chart pie sektion med knapper                            */
/*_______________________________________________________________________________________*/

.chart1Pie{
    display: flex;
    justify-content: center;
    height: 750px;

}

.left-container{
    background-color: #CDC5B4;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38,38,38);
}
.Pie-right-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 75px;
    padding-bottom: 90px;
    margin-right: 0px;
}
.Pie-right-container p {
    max-width: 650px;      /* styrer hvor bred teksten må være */
    line-height: 1.6;      /* gør teksten mere læsbar */
    margin-left: 35px;        /* centrerer teksten i containeren */
    font-size: 30px;
}
.Pie-right-container p {
    color: #68534D;
}

/*_______________________________________________________________________________________*/
/*                                      Chart aktiv                                      */
/*_______________________________________________________________________________________*/

.chart2aktiv{
    display: flex;
    justify-content: center;
    height: 750px;

}
.chart-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    background-color: #CDC5B4;
    height: 750px;
}

.right-container button{
    background-color: white;
    width: 200px;
    height: 50px;
    justify-content: center;
}
/*_______________________________________________________________________________________*/
/*                        Chart liste med filter knapper og infoknap                     */
/*_______________________________________________________________________________________*/


.check-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    background-color: #CDC5B4;
    height: 750px;
}
.check-container button{
    background-color: #CDC5B4;
    width: 200px;
    height: 50px;
    justify-content: center;
}
/* Selve listen */
.filter-list {
    margin: 0;
    margin-left: 100px;
}

/* Hvert punkt i listen */
.filter-list li {
    display: grid;
    grid-template-columns: auto 1fr;  /* Første kolonne: checkbox, anden: tekst */
    align-items: flex-start;
    padding: 8px;
    color: #68534D;
    font-size: 20px;

}

/*_______________________________________________________________________________________*/
/*                                  AKYIV CHART KNAP STYLING                             */
/*_______________________________________________________________________________________*/
#SUB {
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    background: #FB6376;
    font-weight: 550;
    border-color: #FB6376;
    color: black;
}

#SUB:hover {
    transform: scale(0.98);
}

.dropdown {
    position: relative; /* Gør dropdown til reference-punkt */
}


/* INFO Knap */
.dropdown-btn {
    padding: 2px 4px;
    font-size: 0.75rem;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #68534D;

}
.dropdown-content {
    position: absolute;
    top: 100%;
    background: floralwhite;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 15px 20px;
    width: fit-content;
    max-width: 90vw;
}
.dropdown-content p {
    padding-right: 80px;
    color: #68534D;
}

.dropdown-content {
    display: none;
}

.dropdown-content.show {
    display: block;
}

/*_______________________________________________________________________________________*/
/*              Sektion med tal / gennemsnit af uddannelses varighed                     */
/*_______________________________________________________________________________________*/

.chart-tal-tid{
    display: flex;
    justify-content: center;
    height: 750px;

}
.check-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    background-color: #CDC5B4;
    height: 750px;
}
.chart-tal-left {
    display: flex;
    justify-content: center;
    height: 700px;
    margin-left: 100px;
    margin-top: 100px;
}
.chart-tal-right{
     flex: 1;
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding-left: 75px;
     padding-bottom: 90px;
    margin-right: 100px;
 }

#datamatiker1 {
    background-color: rgb(154,138,120);
}

#animationScroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;

}

#animationScroll.appear {
    opacity: 1;
    transform: translateY(0);
}


#animationScroll{
    color: #FB6376;
    font-size: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#animationScroll p {
    color: #FB6376;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#animationScroll1 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
    color: rgba(104, 83, 77, 0.33);
    font-size: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#animationScroll1 p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#animationScroll1.appear {
    opacity: 1;
    transform: translateY(0);
}

.chart-tal-right h1 {
        color: #FB6376;
}
.chart-tal-right p {
    color: #68534D;
}
.youtube-left h1 {
          color: #FB6376;
  }
  .youtube-left p {
      color: black;
  }



/*_______________________________________________________________________________________*/
/*                                  SEKTION MED YOUTUBE                                  */
/*_______________________________________________________________________________________*/

.Youtube{
    display: flex;
    flex-direction: row;      /* Venstre/højre layout */
    background-color: #CDC5B4;
    height: 750px;
    justify-content: center;
    align-items: center;
}

.youtube-left {
    flex: 1;
    display: flex;
    flex-direction: column;   /* H1 over tekst */
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: 0;            /* Fjern stor topmargin */
}

.youtube-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-bottom: 0;
    margin-right: 100px;
}

/* Neutralisér global li-styling inde i denne sektion */
.youtube-left h1 {
    font-size: 3rem;
}


.map-of-campus {
    width: 79%;      /* halvdelen af siden */
    margin-left: 150px;
    margin-top: 180px;
    margin-bottom: 200px;
}

#map {
    width: 100%;     /* fyld hele .map-of-campus-bredden */
    height: 600px;   /* eller hvad du ønsker */
    z-index: 1;
}

.map-of-campus h1 {
    color: #FB6376;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#map {
    border-radius: 20px;
    border: 3px solid white;
    box-shadow: 0 2px 3px black; /* Pink skygge */
}

/*_______________________________________________________________________________________*/
/*                                       Om os sektion                                   */
/*_______________________________________________________________________________________*/
.omOsHTML{
    background-color: #68534D;
}

.omOs-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 80px;
    margin-top: 100px;
    color: white;
}

.omOs-section h2 {
    color: #FB6376;
    font-size: 40px;
    margin-bottom: 1px;
}

.omOs-text {
    font-size: 25px;
    margin-top: 1px;
}

.omOs-section h3 {
    font-size: 35px;
    margin-bottom: 1px;
}

.omOs-text2 {
    font-size: 25px;
    margin-top: 1px;
}


/*_______________________________________________________________________________________*/
/*                                       Data sektion                                   */
/*_______________________________________________________________________________________*/

.dataHTML {
    background-color: #68534D;
}