/*_______________________________________________________________________________________*/
/*                                       Generel styling                                */
/*_______________________________________________________________________________________*/

body{
    font-family: "DynaPuff", system-ui;
    background-color: #d3deb1;
    margin: 0;
}


/*_______________________________________________________________________________________*/
/*                                       Header styling                                  */
/*_______________________________________________________________________________________*/

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: #FFF0D1;
    z-index: 2;
}


#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 225px;
    height: 35px;
    text-decoration: none;
    font-size: 2rem;
    color: #800000;
}

#logo:hover {
    transform: scale(1.05);
}


header div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


 header li a{
     display: flex;
     justify-content: space-evenly;
     color: #800000;
     text-decoration: none;
 }

.socials ul{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.socials img {
    width: 30px;
    height: 30px;
}

.socials li:hover {
    transform: scale(1.3);
}


nav ul{
    display: flex;
    gap: 95px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
}


nav li:hover {
    transform: scale(1.3);
}

/*_______________________________________________________________________________________*/
/*                                   Forside billede og titel                            */
/*_______________________________________________________________________________________*/
#frontpage-picture{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 0px;
}
#frontpage-titel {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #800000;
}


/*_______________________________________________________________________________________*/
/*                                     Piechart styling                                  */
/*_______________________________________________________________________________________*/

.piechart-sektion {
    background-color: #FFF0D1;
    border-radius: 30px;
    margin-left: 70px;
    margin-right: 70px;
    height: 750px;
    box-shadow: 2px 2px 7px black;
}


.chart1Pie{
    display: flex;
    justify-content: center;
    height: 600px;
    padding-bottom: 10px;
}

.piechart-text{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
    padding-bottom: 105px;
}

.piechart-text p {
    max-width: 650px;      /* styrer hvor bred teksten må være */
    line-height: 1.6;      /* gør teksten mere læsbar */
    margin-left: 35px;        /* centrerer teksten i containeren */
    font-size: 25px;
    color: #800000;
    list-style: none;
}

.piechart-header h1 {
    display: flex;
    color: #800000;
    justify-content: center;
    margin-top: 120px;
    font-size: 60px;
    padding-top: 70px;
}

.piechart {
    padding-left: 40px;
}

/*_______________________________________________________________________________________*/
/*                                      Aktiv chart                                      */
/*_______________________________________________________________________________________*/

.aktiv-header {
    background-color: #FFF0D1;
    border-radius: 30px;
    margin-left: 70px;
    margin-right: 70px;
    box-shadow: 2px 2px 7px black;
}

.aktiv-header h1 {
    display: flex;
    color: #800000;
    justify-content: center;
    margin-top: 120px;
    font-size: 50px;
    padding-top: 60px;
}
.aktiv-header h2 {
    display: flex;
    color: #800000;
    justify-content: center;
    font-size: 25px;
    font-weight: lighter;
}

.chart2aktiv{
    display: flex;
    justify-content: center;
}

.chart-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    height: 660px;
}

.right-container button{
    width: 200px;
    height: 50px;
    justify-content: center;
}


/*_______________________________________________________________________________________*/
/*                              Aktiv chart - check containers                           */
/*_______________________________________________________________________________________*/


.check-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    height: 750px;
}
.check-container button{
    width: 200px;
    height: 50px;
    justify-content: center;
}
/* Selve listen */
.filter-list {
    margin: 40px;
}

/* Hvert punkt i listen */
.filter-list li {
    display: grid;
    grid-template-columns: auto 1fr;  /* Første kolonne: checkbox, anden: tekst */
    align-items: flex-start;
    padding: 8px;
    color: #800000;
    font-size: 20px;
}

.filter-list h3 {
    color: maroon;
    font-size: 25px;
   font-weight: bold;
}

.filter-list input[type="checkbox"] {
    transform: scale(1.5);
    cursor: pointer;
    margin-right: 10px;
    accent-color: #800000;
}

/*_______________________________________________________________________________________*/
/*                                  AKTIV CHART KNAP STYLING                             */
/*_______________________________________________________________________________________*/
#SUB {
    cursor: pointer;
    font-size: 13px;
    border-radius: 15px;
    background: #800000;
    border-color: white;
    color: white;
    font-family: "DynaPuff", system-ui;
}

#SUB:hover {
    transform: scale(0.98);
}

.dropdown {
    position: relative; /* Gør dropdown til reference-punkt */
}


/* INFO Knap */
.dropdown-btn {
    padding: 2px 4px;
    font-size: 0.75rem;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #800000;
    font-family: "DynaPuff", system-ui;
}
.dropdown-content {
    position: absolute;
    top: 100%;
    background: floralwhite;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 15px 20px;
    width: fit-content;
    max-width: 90vw;
    border-radius: 15px;
}
.dropdown-content p {
    color: black;
}

.dropdown-content.show {
    display: block;
}

/*_______________________________________________________________________________________*/
/*              Sektion med tal / gennemsnit af uddannelses varighed                     */
/*_______________________________________________________________________________________*/


.chart-tal-tid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-tal-tid h1 {
    color: #800000;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}

.chart-tal-container {
    display: flex;
    justify-content: center;
    width: 95%;
}

.chart-tal-left {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.chart-tal-right{
     flex: 1;
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding-left: 75px;
     padding-bottom: 90px;
    margin-right: 20px;
 }

.chart-tal-right p {
    color: #800000;
    font-size: 25px;
    margin-top: 180px;
}


#animationScroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
}

#animationScroll.appear {
    opacity: 1;
    transform: translateY(0);
}


#animationScroll{
    color: #800000;
    font-size: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#animationScroll1 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
    color: rgba(104, 83, 77, 0.33);
    font-size: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#animationScroll1.appear {
    opacity: 1;
    transform: translateY(0);
}


/*_____________________________________________________________________________________*/
/*                                       carrousel                                       */
/*_____________________________________________________________________________________*/

.carrousels-section {
    margin-bottom: 160px;
}

.containerForSlideshow {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    height: 200px;
    border-radius: 30px;
    margin-bottom: 15px;
}

.carrousels {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color:#FFF0D1 ;
    color: #800000;
}
.carrousels ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.carrousels ul li{
    color: #800000;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #800000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    transform: scale(1,2);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #fff0d1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #800000;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


/*_______________________________________________________________________________________*/
/*                                       BILLEDE COLLAGE                                 */
/*_______________________________________________________________________________________*/
.campusser {
    background-color: #FFF0D1;
    padding-top: 25px;
    padding-bottom: 70px;
    border-radius: 30px;
    margin-left: 70px;
    margin-right: 70px;
    box-shadow: 2px 2px 7px black;
}

.campusser h1 {
    color: maroon;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.intro-billeder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative;
}


.billede-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    position: relative;
}

.billede-1:hover {
    transform: scale(1.03);
}
.overlayBilleder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

#ekLogo {
    height: 20rem;
    width: 20rem;
}

.billede-1:hover .overlayBilleder {
    opacity: 1;
}

/* Andet billede - top midten */
.billede-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
}

.billede-2:hover {
    transform: scale(1.03);
}

.billede-2:hover .overlayBilleder {
    opacity: 1;
}

/* Tredje billede - bund midten */
.billede-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
}

.billede-3:hover {
    transform: scale(1.03);
}

.billede-3:hover .overlayBilleder {
    opacity: 1;
}

#dtuLogo {
    height: 140px;
    width: 100px;
}


/* Fjerde billede - højre, fuld højde */
.billede-4 {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
    position: relative;
}

.billede-4:hover {
    transform: scale(1.03);
}

.billede-4:hover .overlayBilleder {
    opacity: 1;
}

#kuLogo {
    height: 4rem;
}


.billede-5 {
    grid-column: 1 / 3; /* Spænder over 2 kolonner */
    grid-row: 3 / 3;
    position: relative;
}

.billede-5:hover {
    transform: scale(1.03);
}

.billede-5:hover .overlayBilleder {
    opacity: 1;
}

#aalborgLogoLogo {
    height: 15rem;
}



.billede-6 {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    position: relative;
}

.billede-6:hover {
    transform: scale(1.03);
}

.billede-6:hover .overlayBilleder {
    opacity: 1;
}

#aarhusLogo {
    height: 2rem;
}



/* Sørg for at billederne fylder containeren */
.intro-billeder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
}

/*_______________________________________________________________________________________*/
/*                                  SEKTION MED MAP                                  */
/*_______________________________________________________________________________________*/

hr {
    border: none;
    height:2px;
    background-color: #F0DDB6;
    width: 85%;
    border-radius: 2px;
}

.map-of-campus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-of-campus h2 {
    color: #800000;
    font-size: 30px;
    font-weight: normal;
}

#map {
    border-radius: 20px;
    border: 2px solid #800000;
    z-index: 1;
    height: 550px;
    width: 1100px;
}


/*_______________________________________________________________________________________*/
/*                                       footer                                          */
/*_______________________________________________________________________________________*/

footer{
    display: flex;
    justify-content: space-around;
    background-color: #FFF0D1;
    margin-top: 150px;
    padding: 40px 10px;
    color: dimgray;
}

.contact-info ul{
    list-style: none;
    padding-left: 0;
    font-size: 13px;
}

.copyright {
    padding-top: 30px;
    font-size: 12px;
}

.socials-bot ul{
    display: flex;
    gap: 30px;
    list-style: none;
    padding-top: 15px;
}

.socials-bot img {
    width: 30px;
    height: 30px;
}

.socials-bot li:hover {
    transform: scale(1.3);
}




/*_______________________________________________________________________________________*/
/*                                       Om os sektion                                   */
/*_______________________________________________________________________________________*/
.omOsHTML{
    background-color: #d3deb1;
}

.omOs-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 80px;
    margin-top: 100px;
    color: black;
}

.omOs-section h2 {
    color: #800000;
    font-size: 40px;
    margin-bottom: 1px;
}

.omOs-text {
    font-size: 25px;
    margin-top: 1px;
}

.omOs-section h3 {
    font-size: 35px;
    margin-bottom: 1px;
}

.omOs-text2 {
    font-size: 25px;
    margin-top: 1px;
}


/*_______________________________________________________________________________________*/
/*                                       Data sektion                                   */
/*_______________________________________________________________________________________*/

.dataHTML {
    background-color: #d3deb1;
}


/*_______________________________________________________________________________________*/
/*                                       articles sektion                                   */
/*_______________________________________________________________________________________*/

.articlesHTML {
    background-color: #d3deb1;
}

.articlesHTML li {
    display: flex;
    justify-content: space-evenly;
}

.article{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.title a {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}


/*_______________________________________________________________________________________*/
/*                                       Media queries                                         */
/*_______________________________________________________________________________________*/

@media (max-width: 1000px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        right:0;
    }

    #logo {
        padding: 10px;
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
    }

    .socials ul {
        display: none
    }

    #pictureFront h2{
        font-size: 2rem;
          }

    .pie-chart-sektion {
        height: auto;
        margin: 20px;
    }

    .chart1Pie {
        flex-direction: column;
    }

    .Pie-right-container {
        padding: 20px;
    }

    .pie-chart-header h1{
        font-size: 2rem;
    }

    .Pie-right-container ul li p{
        font-size: 1rem;
    }
    .chart1Pie canvas {
        height: 100px;
    }

    .aktiv-header {
        height: auto;
    }

    .chart2aktiv {
        flex-direction: column;
    }

    .dashboard {
        flex-wrap: wrap;
    }

    .check-container {
        padding: 20px;
    }
    .filter-list li{
        display: flex;
        flex-direction: row-reverse;
        font-size: 1rem;
    }

    .chart-tal-tid {
        flex-direction: column;
        height: auto;
    }

    .chart-tal-left {
        margin: 20px;
    }

    .intro-billeder {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }


    .containerForSlideshow {
        height: 200px;
        width: 400px;
    }

    .carrousels ul {
        flex-direction: column;
    }

    .map-of-campus {
        width: 90%;
        margin: 20px;
    }

    footer {
        font-size: 14px;
    }
}